<h1>Workorder {{model.id}} Details</h1>
<label>ID:</label><input type="text" value="{{model.id}}">
<label>dateCreated:</label>{{input value=model.dateCreated}}
<label>assignedTo:</label>{{input value=model.assignedTo}}
<label>createdBy:</label>{{input value=model.createdBy}}
<label>priority:</label>{{input value=model.priority}}
<label>status:</label>{{input value=model.status}}
