<h1>Workorders</h1>

<div class="searc">
	<form {{action "search" on="submit"}}>
		ID: {{input value=searchParams.id}}
		dateCreated: {{input value=searchParams.dateCreated}}
		dateCompleted: {{input value=searchParams.dateCompleted}}
		assignedTo: {{input value=searchParams.assignedTo}}
		createdBy: {{input value=searchParams.createdBy}}
		priority: {{input value=searchParams.priority}}
		status: {{input value=searchParams.status}}
		state: {{input value=searchParams.state}}
		requestType: {{input value=searchParams.requestType}}
		<button type="submit" name="button">Search</button>
	</form>
</div>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Date Created</th>
			<th>Date Completed</th>
			<th>Assigned To</th>
			<th>Created By</th>
			<th>Priority</th>
			<th>Status</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |wo|}}
		<tr {{action "showWorkorder" wo on="doubleClick"}}>
			<td>{{wo.id}}</td>
			<td>{{shortDate wo.dateCreated}}</td>
			<td>{{shortDate wo.dateCompleted}}</td>
			<td>{{wo.assignedTo}}</td>
			<td>{{wo.createdBy}}</td>
			<td>{{wo.priority}}</td>
			<td>{{wo.status}}</td>
			<td>{{wo.state}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
